w## Python
*.py[co]

# OS X
.DS_Store

# Packages
*.egg
*.egg-info
*.pyc
*~
*.*~
*.zip
*.db
dist
build
docs/_build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
## Django
*.log
*.pot
local_settings.py

.idea

*.sqlite3
apimocker/settings/vars/local.py
.env
*.db
celerybeat-schedule
node_modules/
reporting/static/*
frontend/yarn.lock
devops/*
apimocker/static/*
build.log
apimocker/static/
